@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,300;1,700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100%;
}
.section1 {
  height: 100vh;

  position: relative;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.Im-Kyle {
  position: absolute;
  width: 895px;
  left: 4vw;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.video-onboard-intro .span {
  color: #000000;
}

.video-onboard-intro .text-wrapper-2 {
  color: #ff0000;
}

.video-onboard-intro .text-wrapper-3 {
  color: #000000;
  font-size: 36px;
}

.hero-avatar {
  position: absolute;
  width: 30rem;
  height: 30rem;
  top: 14vh;
  left: 55vw;
  border-radius: 50%;
  object-fit: cover;
  border: #ffffff 3px solid;
  overflow: hidden;
}

.tagContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 80vh;
  left: 0;
}

#tag {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 2rem;
  font-weight: 500;
  border: #000000 3px solid;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #ffffff56;
}

.melodies-text {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.425);
}

.code-text {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.425);
}
